.DS_Store
*.js
.runs/
node_modules/
dist/
runtime/promptycs/Prompty.Core/bin/
runtime/promptycs/Prompty.Core/obj/
runtime/promptycs/Tests/bin/
runtime/promptycs/Tests/obj/
.env
tck/csharp/obj
tck/csharp/bin
