# {{ node.typeName.name }}

{{ node.description }}

## Class Diagram

```mermaid
---
title: {{ node.typeName.name }}
---
classDiagram
    {%- for type in enumerateTypes(node) %}
    class {{ type.typeName.name }} {
      {%- for prop in type.properties %}
        +{{ prop.typeName.name }}{{ "[]" if prop.isCollection else "" }} {{ prop.name }}
      {%- endfor %}
    }
    {%- endfor -%}
    {%- for child in getChildTypes(node) %}
    {{ child.source }} <|-- {{ child.target }}
    {%- endfor -%}
    {%- for comp in getCompositionTypes(node) %}
    {{ comp.source }} *-- {{ comp.target }}
    {%- endfor %}
```

{% if yml %}
## Yaml Example
```yaml
{{ yml | safe }}
```
{% endif %}

{% if node.properties.length > 0 %}

## Properties

| Name | Type | Description |
| ---- | ---- | ----------- |
{% for prop in node.properties -%}
| {{ prop.name }} | {{ renderType(prop) }} | {{ prop.description }} {{ renderChildTypes(prop) | safe }} |
{% endfor -%}
{% endif %}

