# Class Diagram

The following diagram illustrates the classes and their relationships for declarative agents.
The root [object](Prompty.md) represents the main entry point for the system.

```mermaid
---
title: Declarative Agents
---
classDiagram
    {%- for type in types %}
    class {{ type.typeName.name }} {
      {%- for prop in type.properties %}
        +{{ prop.typeName.name }}{{ "[]" if prop.isCollection else "" }} {{ prop.name }}
      {%- endfor %}
    }
    {%- endfor -%}
    {%- for child in childTypes %}
    {{ child.source }} <|-- {{ child.target }}
    {%- endfor -%}
    {%- for comp in compositionTypes %}
    {{ comp.source }} *-- {{ comp.target }}
    {%- endfor %}
```