---
import type { Props } from '@astrojs/starlight/props';
---
<a href="/" class="site-title sl-flex">
  <img src="/prompty_p.svg" alt="Prompty" width="100" height="28" />
</a>

<style>
  .site-title {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--sl-color-text);
  }
  .site-title img {
    height: 1.75rem;
    width: auto;
  }
</style>
