# {{ node.typeName }}

{{ node.description }}
{% if node.properties.length > 0 %}

## Properties

| Name | Type | Description |
| ---- | ---- | ----------- |
{% for prop in node.properties -%}
| {{ prop.name }} |  {{ renderType(prop) }} | {{ prop.description }} |
{% endfor -%}
{% endif %}

