{%- macro heading(title, depth=0) -%}
#{% for i in range(0, depth) -%}#{%- endfor %} {{title}}
{%- endmacro -%}

{{ heading(node.typeName, 0) }}

{{ node.description }}
{% if node.properties.length > 0 %}

{{ heading('Properties', 1) }}

| Name | Type | Description |
| ---- | ---- | ----------- |
{% for prop in node.properties -%}
| {{ prop.name }} |  {{ renderType(prop) }} | {{ prop.description }} |
{% endfor -%}
{% endif %}
