// Copyright (c) Microsoft. All rights reserved.
using System;
using System.Collections.Generic;
using System.Diagnostics.CodeAnalysis;

#pragma warning disable IDE0130
namespace {{ node.typeName.namespace }};
#pragma warning restore IDE0130

/// <summary>
{% for line in node.description.split('\n') -%}
/// {{ line }}
{% endfor -%}
/// </summary>
public{% if node.isAbstract %} abstract{% endif %} class {{ node.typeName.name }}{% if node.base %} : {{ node.base.name }}{% endif %}
{
    /// <summary>
    /// Initializes a new instance of <see cref="{{ node.typeName.name }}"/>.
    /// </summary>
    {% if node.isAbstract %}protected{% else %}public{% endif %} {{ node.typeName.name }}()
    {
    }
    {% for prop in node.properties %}    
    {{ renderSummary(prop) | safe }}
    public {{ renderPropertyModifier(prop) }}{{ renderType(prop) | safe }} {{ renderPropertyName(prop) }} { get; set; }{{ renderDefault(prop) | safe }}
    {% endfor %}

    /// <summary>
    /// Initializes a new instance of <see cref="{{ node.typeName.name }}"/>.
    /// </summary>
    /// <param name="props">Properties for this instance.</param>
    internal static {% if node.base %}new {% endif %}{{ node.typeName.name }} Load(object props)
    {
        {%- if node.alternates.length > 0 %}
        IDictionary<string, object> data;
        {% for alt in alternates -%}
        {% if not loop.first %}else {% endif %}if (props is {{ alt.scalar }} {{ alt.scalar }}Value)
        {
            data = new Dictionary<string, object>
            {
               {{ alt.alternate | safe}}
            };
        }
        {% endfor -%}
        else
        {
            data = props.ToParamDictionary();
        }
        {% else %}
        IDictionary<string, object> data = props.ToParamDictionary();
        {% endif -%}
        {%- if polymorphicTypes %}
        // load polymorphic {{ node.typeName.name }} instance
        var instance = Load{{ node.discriminator | capitalize }}(data);
        {% else %}
        // create new instance
        var instance = new {{ node.typeName.name }}();
        {% endif -%}
        {%- for prop in node.properties %}
        if (data.TryGetValue("{{ prop.name }}", out var {{ prop.name }}Value))
        {
            {{ renderSetInstance(prop, "instance", "data") | safe }}
        }
        {%- endfor %}
        return instance;
    }
    {% for prop in collectionTypes %}
    internal static IList<{{ prop.typeName.name }}> Load{{ renderPropertyName(prop) }}(object data)
    {
        return [.. data.GetNamedDictionaryList().Select(item => {{ prop.typeName.name }}.Load(item))];
    }
    {% endfor %}
    {% if polymorphicTypes %}
    /// <summary>
    /// Load a polymorphic instance of <see cref="{{ node.typeName.name }}"/> based on the "{{ node.discriminator }}" property.
    /// </summary>
    internal static {{ node.typeName.name }} Load{{ node.discriminator | capitalize }}(IDictionary<string, object> props)
    {
        // load polymorphic {{ node.typeName.name }} instance from {{ node.discriminator }} property
        if(props.ContainsKey("{{ node.discriminator }}"))
        {
            var discriminator_value = props.GetValueOrDefault<string>("{{ node.discriminator }}");
            {%- set first = polymorphicTypes.first -%}
            {%- set others = polymorphicTypes.others -%}
            {%- set default = polymorphicTypes.default -%}
            {%- if first %}
            if(discriminator_value == "{{ first.value }}")
            {
                return {{ first.instance.typeName.name }}.Load(props);
            }
            {%- for other in others %}
            else if (discriminator_value == "{{ other.value }}")
            {
                return {{ other.instance.typeName.name }}.Load(props);
            }
            {%- endfor %}
            {%- endif %}
            {%- if default %}
            else
            {
                return {% if default.instance.typeName.name != node.typeName.name %}{{ default.instance.typeName.name }}.{% endif %}Load(props);
            }
            {%- else %}
            else
            {
                throw new ArgumentException($"Unknown {{ node.typeName.name }} discriminator value: {discriminator_value}");
            }
            {%- endif %}
        }
        else
        {
            throw new ArgumentException("Missing {{ node.typeName.name }} discriminator property: '{{ node.discriminator }}'");
        }
    }
    {% endif %}
}
