// Copyright (c) Microsoft. All rights reserved.
using System;
using System.Collections.Generic;

namespace Microsoft.Extensions.AI.Agents;

#pragma warning disable RCS1037 // Remove trailing white-space
/// <summary>
/// {{ formatDescription(node.description) | safe }}.
/// </summary>
public sealed class {{ getClassName(node.typeName) }}{% if node.baseType.length > 0 -%} : {{ node.baseType }}{% endif %}
{
    /// <summary>
    /// Initializes a new instance of <see cref="{{ getClassName(node.typeName) }}"/>.
    /// </summary>
    public {{ getClassName(node.typeName) }}()
    {
    }

    /// <summary>
    /// Initializes a new instance of <see cref="{{ getClassName(node.typeName) }}"/>.
    /// </summary>
    /// <param name="props">Properties for this instance.</param>
    internal {{ getClassName(node.typeName) }}(IDictionary<string, object> props) : this()
    {
{%- for prop in node.properties %}
        {{ renderPropertyName(prop) }} = props.GetValueOrDefault<{{ renderType(prop) | safe }}>("{{prop.name}}"){{ renderNullCoalescing(prop) | safe }};
{%- endfor %}
    }
{% for prop in node.properties %}    
    {{ renderSummary(prop) | safe }}
    public {{ renderType(prop) | safe }} {{ renderPropertyName(prop) }} { get; set; }{{ renderDefault(prop) | safe }}
{% endfor -%}
}
#pragma warning restore RCS1037 // Remove trailing white-space
