{%- if examples.length > 0 %}
import json
import yaml
{% endif %}
from {{node.typeName.namespace | lower }} import {{node.typeName.name}}

{% for sample in examples %}
def test_load_json_{{node.typeName.name | lower}}{% if not loop.first %}_{{loop.index - 1}}{% endif %}():
    json_data = '''
    {% for line in sample.json -%}
    {{ line | safe }}
    {% endfor -%}
    '''
    data = json.loads(json_data, strict=False)
    instance = {{node.typeName.name}}.load(data)
    assert instance is not None
    {% for validation in sample.validation -%}
    {%- if validation.value == "True" or validation.value == "False" %}
    assert {% if validation.value == "False" %}not {% endif %}instance.{{ validation.key }}
    {% else -%}
    assert instance.{{ validation.key }} == {{ validation.delimeter | safe }}{{ validation.value }}{{ validation.delimeter | safe }}
    {% endif -%}
    {% endfor %}

def test_load_yaml_{{node.typeName.name | lower}}{% if not loop.first %}_{{loop.index - 1}}{% endif %}():
    yaml_data = '''
    {% for line in sample.yaml -%}
    {{ line | safe }}
    {% endfor -%}
    '''
    data = yaml.load(yaml_data, Loader=yaml.FullLoader)
    instance = {{node.typeName.name}}.load(data)
    assert instance is not None
    {%- for validation in sample.validation %}
    {%- if validation.value == "True" or validation.value == "False" %}
    assert {% if validation.value == "False" %}not {% endif %}instance.{{ validation.key }}
    {%- else %}
    assert instance.{{ validation.key }} == {{ validation.delimeter | safe }}{{ validation.value }}{{ validation.delimeter | safe }}
    {%- endif %}
    {%- endfor %}
{% endfor %}
{% if alternates.length > 0 %}
{% for alt in alternates -%}
def test_load_{{node.typeName.name | lower}}_from_{{ alt.scalar }}():
    instance = {{node.typeName.name}}.load({{ alt.value | safe }})
    assert instance is not None
    {%- for item in alt.validation %}
    {%- if item.value == "True" or item.value == "False" %}
    assert {% if item.value == "False" %}not {% endif %}instance.{{ item.key }}
    {%- else %}
    assert instance.{{ item.key }} == {{ item.delimeter | safe }}{{ item.value | safe }}{{ item.delimeter | safe }}
    {%- endif %}
    {%- endfor %}
{% endfor %}
{% endif %}
