:root {
  --text-link-decoration: none;
  --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: CaskaydiaCove Nerd Font, "Courier New", monospace;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 16px;
  --vscode-foreground: #d1d5da;
  --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
  --vscode-errorForeground: #f97583;
  --vscode-descriptionForeground: #959da5;
  --vscode-icon-foreground: #c5c5c5;
  --vscode-focusBorder: #005cc5;
  --vscode-textLink-foreground: #79b8ff;
  --vscode-textLink-activeForeground: #c8e1ff;
  --vscode-textSeparator-foreground: #586069;
  --vscode-textPreformat-foreground: #d1d5da;
  --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
  --vscode-textBlockQuote-background: #24292e;
  --vscode-textBlockQuote-border: #444d56;
  --vscode-textCodeBlock-background: #2f363d;
  --vscode-sash-hoverBorder: #005cc5;
  --vscode-badge-background: #044289;
  --vscode-badge-foreground: #c8e1ff;
  --vscode-scrollbar-shadow: rgba(0, 0, 0, 0.53);
  --vscode-scrollbarSlider-background: rgba(106, 115, 125, 0.2);
  --vscode-scrollbarSlider-hoverBackground: rgba(106, 115, 125, 0.27);
  --vscode-scrollbarSlider-activeBackground: rgba(106, 115, 125, 0.53);
  --vscode-progressBar-background: #0366d6;
  --vscode-editor-background: #24292e;
  --vscode-editor-foreground: #e1e4e8;
  --vscode-editorStickyScroll-background: #24292e;
  --vscode-editorStickyScrollHover-background: #2a2d2e;
  --vscode-editorStickyScroll-shadow: rgba(0, 0, 0, 0.53);
  --vscode-editorWidget-background: #1f2428;
  --vscode-editorWidget-foreground: #d1d5da;
  --vscode-editorWidget-border: #454545;
  --vscode-editorError-foreground: #f97583;
  --vscode-editorWarning-foreground: #ffea7f;
  --vscode-editorInfo-foreground: #3794ff;
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-editorLink-activeForeground: #4e94ce;
  --vscode-editor-selectionBackground: rgba(51, 146, 255, 0.27);
  --vscode-editor-inactiveSelectionBackground: rgba(51, 146, 255, 0.13);
  --vscode-editor-selectionHighlightBackground: rgba(23, 229, 230, 0.2);
  --vscode-editor-selectionHighlightBorder: rgba(23, 229, 230, 0);
  --vscode-editor-findMatchBackground: rgba(255, 211, 61, 0.27);
  --vscode-editor-findMatchHighlightBackground: rgba(255, 211, 61, 0.13);
  --vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
  --vscode-editorHoverWidget-background: #1f2428;
  --vscode-editorHoverWidget-foreground: #d1d5da;
  --vscode-editorHoverWidget-border: #454545;
  --vscode-editorHoverWidget-statusBarBackground: #252b30;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: rgba(4, 66, 137, 0.1);
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: rgba(4, 66, 137, 0.1);
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: rgba(4, 66, 137, 0.1);
  --vscode-editorLightBulb-foreground: #ffcc00;
  --vscode-editorLightBulbAutoFix-foreground: #75beff;
  --vscode-editorLightBulbAi-foreground: #ffcc00;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-diffEditor-insertedTextBackground: rgba(40, 167, 69, 0.19);
  --vscode-diffEditor-removedTextBackground: rgba(215, 58, 73, 0.19);
  --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-diffEditor-unchangedRegionBackground: #1f2428;
  --vscode-diffEditor-unchangedRegionForeground: #d1d5da;
  --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --vscode-breadcrumb-foreground: #959da5;
  --vscode-breadcrumb-background: #24292e;
  --vscode-breadcrumb-focusForeground: #e1e4e8;
  --vscode-breadcrumb-activeSelectionForeground: #d1d5da;
  --vscode-breadcrumbPicker-background: #2b3036;
  --vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
  --vscode-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
  --vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-problemsErrorIcon-foreground: #f97583;
  --vscode-problemsWarningIcon-foreground: #ffea7f;
  --vscode-problemsInfoIcon-foreground: #3794ff;
  --vscode-input-background: #2f363d;
  --vscode-input-foreground: #e1e4e8;
  --vscode-input-border: #1b1f23;
  --vscode-inputOption-activeBorder: #007acc;
  --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-inputOption-activeBackground: rgba(0, 92, 197, 0.4);
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: #959da5;
  --vscode-inputValidation-infoBackground: #063b49;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #352a05;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #5a1d1d;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #2f363d;
  --vscode-dropdown-listBackground: #24292e;
  --vscode-dropdown-foreground: #e1e4e8;
  --vscode-dropdown-border: #1b1f23;
  --vscode-button-foreground: #dcffe4;
  --vscode-button-separator: rgba(220, 255, 228, 0.4);
  --vscode-button-background: #176f2c;
  --vscode-button-hoverBackground: #22863a;
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #444d56;
  --vscode-button-secondaryHoverBackground: #586069;
  --vscode-radio-activeForeground: #ffffff;
  --vscode-radio-activeBackground: rgba(0, 92, 197, 0.4);
  --vscode-radio-activeBorder: #007acc;
  --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
  --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-checkbox-background: #444d56;
  --vscode-checkbox-selectBackground: #1f2428;
  --vscode-checkbox-foreground: #e1e4e8;
  --vscode-checkbox-border: #1b1f23;
  --vscode-checkbox-selectBorder: #c5c5c5;
  --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --vscode-keybindingLabel-foreground: #cccccc;
  --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --vscode-list-focusBackground: #044289;
  --vscode-list-focusOutline: #005cc5;
  --vscode-list-activeSelectionBackground: #39414a;
  --vscode-list-activeSelectionForeground: #e1e4e8;
  --vscode-list-inactiveSelectionBackground: #282e34;
  --vscode-list-inactiveSelectionForeground: #e1e4e8;
  --vscode-list-inactiveFocusBackground: #1d2d3e;
  --vscode-list-hoverBackground: #282e34;
  --vscode-list-hoverForeground: #e1e4e8;
  --vscode-list-dropBackground: #062f4a;
  --vscode-list-dropBetweenBackground: #c5c5c5;
  --vscode-list-highlightForeground: #2aaaff;
  --vscode-list-focusHighlightForeground: #2aaaff;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-warningForeground: #cca700;
  --vscode-listFilterWidget-background: #1f2428;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
  --vscode-list-filterMatchBackground: rgba(255, 211, 61, 0.13);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-tree-indentGuidesStroke: #2f363d;
  --vscode-tree-inactiveIndentGuidesStroke: rgba(47, 54, 61, 0.4);
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(209, 213, 218, 0.04);
  --vscode-menu-foreground: #e1e4e8;
  --vscode-menu-background: #2f363d;
  --vscode-menu-selectionForeground: #e1e4e8;
  --vscode-menu-selectionBackground: #39414a;
  --vscode-menu-separatorBackground: #606060;
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: #264f78;
  --vscode-minimap-infoHighlight: #3794ff;
  --vscode-minimap-warningHighlight: #ffea7f;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimapSlider-background: rgba(106, 115, 125, 0.1);
  --vscode-minimapSlider-hoverBackground: rgba(106, 115, 125, 0.13);
  --vscode-minimapSlider-activeBackground: rgba(106, 115, 125, 0.27);
  --vscode-charts-foreground: #d1d5da;
  --vscode-charts-lines: rgba(209, 213, 218, 0.5);
  --vscode-charts-red: #f97583;
  --vscode-charts-blue: #3794ff;
  --vscode-charts-yellow: #ffea7f;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-quickInput-background: #24292e;
  --vscode-quickInput-foreground: #e1e4e8;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: #e1e4e8;
  --vscode-pickerGroup-border: #444d56;
  --vscode-quickInputList-focusForeground: #e1e4e8;
  --vscode-quickInputList-focusBackground: #39414a;
  --vscode-search-resultsInfoForeground: rgba(209, 213, 218, 0.65);
  --vscode-searchEditor-findMatchBackground: rgba(255, 211, 61, 0.09);
  --vscode-multiDiffEditor-headerBackground: #262626;
  --vscode-multiDiffEditor-border: #1b1f23;
  --vscode-symbolIcon-arrayForeground: #d1d5da;
  --vscode-symbolIcon-booleanForeground: #d1d5da;
  --vscode-symbolIcon-classForeground: #ee9d28;
  --vscode-symbolIcon-colorForeground: #d1d5da;
  --vscode-symbolIcon-constantForeground: #d1d5da;
  --vscode-symbolIcon-constructorForeground: #b180d7;
  --vscode-symbolIcon-enumeratorForeground: #ee9d28;
  --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
  --vscode-symbolIcon-eventForeground: #ee9d28;
  --vscode-symbolIcon-fieldForeground: #75beff;
  --vscode-symbolIcon-fileForeground: #d1d5da;
  --vscode-symbolIcon-folderForeground: #d1d5da;
  --vscode-symbolIcon-functionForeground: #b180d7;
  --vscode-symbolIcon-interfaceForeground: #75beff;
  --vscode-symbolIcon-keyForeground: #d1d5da;
  --vscode-symbolIcon-keywordForeground: #d1d5da;
  --vscode-symbolIcon-methodForeground: #b180d7;
  --vscode-symbolIcon-moduleForeground: #d1d5da;
  --vscode-symbolIcon-namespaceForeground: #d1d5da;
  --vscode-symbolIcon-nullForeground: #d1d5da;
  --vscode-symbolIcon-numberForeground: #d1d5da;
  --vscode-symbolIcon-objectForeground: #d1d5da;
  --vscode-symbolIcon-operatorForeground: #d1d5da;
  --vscode-symbolIcon-packageForeground: #d1d5da;
  --vscode-symbolIcon-propertyForeground: #d1d5da;
  --vscode-symbolIcon-referenceForeground: #d1d5da;
  --vscode-symbolIcon-snippetForeground: #d1d5da;
  --vscode-symbolIcon-stringForeground: #d1d5da;
  --vscode-symbolIcon-structForeground: #d1d5da;
  --vscode-symbolIcon-textForeground: #d1d5da;
  --vscode-symbolIcon-typeParameterForeground: #d1d5da;
  --vscode-symbolIcon-unitForeground: #d1d5da;
  --vscode-symbolIcon-variableForeground: #75beff;
  --vscode-actionBar-toggledBackground: rgba(0, 92, 197, 0.4);
  --vscode-editorHoverWidget-highlightForeground: #2aaaff;
  --vscode-editor-lineHighlightBackground: #2b3036;
  --vscode-editor-lineHighlightBorder: #282828;
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-symbolHighlightBackground: rgba(255, 211, 61, 0.13);
  --vscode-editorCursor-foreground: #c8e1ff;
  --vscode-editorMultiCursor-primary\.foreground: #c8e1ff;
  --vscode-editorMultiCursor-secondary\.foreground: #c8e1ff;
  --vscode-editorWhitespace-foreground: #444d56;
  --vscode-editorLineNumber-foreground: #444d56;
  --vscode-editorIndentGuide-background: #2f363d;
  --vscode-editorIndentGuide-activeBackground: #444d56;
  --vscode-editorIndentGuide-background1: #2f363d;
  --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground1: #444d56;
  --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #e1e4e8;
  --vscode-editorRuler-foreground: #5a5a5a;
  --vscode-editorCodeLens-foreground: #999999;
  --vscode-editorBracketMatch-background: rgba(23, 229, 230, 0.31);
  --vscode-editorBracketMatch-border: rgba(23, 229, 230, 0);
  --vscode-editorOverviewRuler-border: #1b1f23;
  --vscode-editorGutter-background: #24292e;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --vscode-editorOverviewRuler-warningForeground: #ffea7f;
  --vscode-editorOverviewRuler-infoForeground: #3794ff;
  --vscode-editorBracketHighlight-foreground1: #79b8ff;
  --vscode-editorBracketHighlight-foreground2: #ffab70;
  --vscode-editorBracketHighlight-foreground3: #b392f0;
  --vscode-editorBracketHighlight-foreground4: #79b8ff;
  --vscode-editorBracketHighlight-foreground5: #ffab70;
  --vscode-editorBracketHighlight-foreground6: #b392f0;
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(255, 18, 18, 0.8);
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #ffea7f;
  --vscode-editor-placeholder\.foreground: rgba(255, 255, 255, 0.34);
  --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
  --vscode-diffEditor-moveActive\.border: #ffa500;
  --vscode-diffEditor-unchangedRegionShadow: #000000;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-foldBackground: rgba(88, 96, 105, 0.08);
  --vscode-editor-foldPlaceholderForeground: #808080;
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
  --vscode-editor-linkedEditingBackground: rgba(51, 146, 255, 0.13);
  --vscode-editor-wordHighlightBackground: rgba(23, 229, 230, 0);
  --vscode-editor-wordHighlightStrongBackground: rgba(23, 229, 230, 0);
  --vscode-editor-wordHighlightTextBackground: rgba(23, 229, 230, 0);
  --vscode-editor-wordHighlightBorder: rgba(23, 229, 230, 0.6);
  --vscode-editor-wordHighlightStrongBorder: rgba(23, 229, 230, 0.4);
  --vscode-editor-wordHighlightTextBorder: rgba(23, 229, 230, 0.6);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
  --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
  --vscode-peekViewTitle-background: #252526;
  --vscode-peekViewTitleLabel-foreground: #ffffff;
  --vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --vscode-peekView-border: #3794ff;
  --vscode-peekViewResult-background: #1f2428;
  --vscode-peekViewResult-lineForeground: #bbbbbb;
  --vscode-peekViewResult-fileForeground: #ffffff;
  --vscode-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --vscode-peekViewResult-selectionForeground: #ffffff;
  --vscode-peekViewEditor-background: rgba(31, 36, 40, 0.53);
  --vscode-peekViewEditorGutter-background: rgba(31, 36, 40, 0.53);
  --vscode-peekViewEditorStickyScroll-background: rgba(31, 36, 40, 0.53);
  --vscode-peekViewResult-matchHighlightBackground: rgba(255, 211, 61, 0.2);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 211, 61, 0.2);
  --vscode-editorMarkerNavigationError-background: #f97583;
  --vscode-editorMarkerNavigationError-headerBackground: rgba(249, 117, 131, 0.1);
  --vscode-editorMarkerNavigationWarning-background: #ffea7f;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(255, 234, 127, 0.1);
  --vscode-editorMarkerNavigationInfo-background: #3794ff;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
  --vscode-editorMarkerNavigation-background: #24292e;
  --vscode-editorSuggestWidget-background: #1f2428;
  --vscode-editorSuggestWidget-border: #454545;
  --vscode-editorSuggestWidget-foreground: #e1e4e8;
  --vscode-editorSuggestWidget-selectedForeground: #e1e4e8;
  --vscode-editorSuggestWidget-selectedBackground: #39414a;
  --vscode-editorSuggestWidget-highlightForeground: #2aaaff;
  --vscode-editorSuggestWidget-focusHighlightForeground: #2aaaff;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(225, 228, 232, 0.5);
  --vscode-editorWatermark-foreground: rgba(225, 228, 232, 0.6);
  --vscode-tab-activeBackground: #24292e;
  --vscode-tab-unfocusedActiveBackground: #24292e;
  --vscode-tab-inactiveBackground: #1f2428;
  --vscode-tab-unfocusedInactiveBackground: #1f2428;
  --vscode-tab-activeForeground: #e1e4e8;
  --vscode-tab-inactiveForeground: #959da5;
  --vscode-tab-unfocusedActiveForeground: rgba(225, 228, 232, 0.5);
  --vscode-tab-unfocusedInactiveForeground: rgba(149, 157, 165, 0.5);
  --vscode-tab-hoverBackground: #24292e;
  --vscode-tab-unfocusedHoverBackground: #24292e;
  --vscode-tab-border: #1b1f23;
  --vscode-tab-lastPinnedBorder: #2f363d;
  --vscode-tab-activeBorder: #24292e;
  --vscode-tab-unfocusedActiveBorder: #24292e;
  --vscode-tab-activeBorderTop: #f9826c;
  --vscode-tab-unfocusedActiveBorderTop: #1b1f23;
  --vscode-tab-selectedBorderTop: #f9826c;
  --vscode-tab-selectedBackground: #24292e;
  --vscode-tab-selectedForeground: #e1e4e8;
  --vscode-tab-dragAndDropBorder: #e1e4e8;
  --vscode-tab-activeModifiedBorder: #3399cc;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-editorPane-background: #24292e;
  --vscode-editorGroupHeader-tabsBackground: #1f2428;
  --vscode-editorGroupHeader-tabsBorder: #1b1f23;
  --vscode-editorGroupHeader-noTabsBackground: #24292e;
  --vscode-editorGroup-border: #1b1f23;
  --vscode-editorGroup-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-editorGroup-dropIntoPromptForeground: #d1d5da;
  --vscode-editorGroup-dropIntoPromptBackground: #1f2428;
  --vscode-sideBySideEditor-horizontalBorder: #1b1f23;
  --vscode-sideBySideEditor-verticalBorder: #1b1f23;
  --vscode-panel-background: #1f2428;
  --vscode-panel-border: #1b1f23;
  --vscode-panelTitle-activeForeground: #e1e4e8;
  --vscode-panelTitle-inactiveForeground: #959da5;
  --vscode-panelTitle-activeBorder: #f9826c;
  --vscode-panelInput-border: #2f363d;
  --vscode-panel-dropBorder: #e1e4e8;
  --vscode-panelSection-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: #1b1f23;
  --vscode-panelStickyScroll-background: #1f2428;
  --vscode-panelStickyScroll-shadow: rgba(0, 0, 0, 0.53);
  --vscode-banner-background: #39414a;
  --vscode-banner-foreground: #e1e4e8;
  --vscode-banner-iconForeground: #3794ff;
  --vscode-statusBar-foreground: #d1d5da;
  --vscode-statusBar-noFolderForeground: #d1d5da;
  --vscode-statusBar-background: #24292e;
  --vscode-statusBar-noFolderBackground: #24292e;
  --vscode-statusBar-border: #1b1f23;
  --vscode-statusBar-focusBorder: #d1d5da;
  --vscode-statusBar-noFolderBorder: #1b1f23;
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-focusBorder: #d1d5da;
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-hoverForeground: #d1d5da;
  --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
  --vscode-statusBarItem-prominentForeground: #d1d5da;
  --vscode-statusBarItem-prominentBackground: #282e34;
  --vscode-statusBarItem-prominentHoverForeground: #d1d5da;
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-statusBarItem-errorBackground: #d3091d;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-statusBarItem-errorHoverForeground: #d1d5da;
  --vscode-statusBarItem-errorHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-warningBackground: #e5bf00;
  --vscode-statusBarItem-warningForeground: #ffffff;
  --vscode-statusBarItem-warningHoverForeground: #d1d5da;
  --vscode-statusBarItem-warningHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-activityBar-background: #24292e;
  --vscode-activityBar-foreground: #e1e4e8;
  --vscode-activityBar-inactiveForeground: #6a737d;
  --vscode-activityBar-border: #1b1f23;
  --vscode-activityBar-activeBorder: #f9826c;
  --vscode-activityBar-dropBorder: #e1e4e8;
  --vscode-activityBarBadge-background: #0366d6;
  --vscode-activityBarBadge-foreground: #ffffff;
  --vscode-activityBarTop-foreground: #e7e7e7;
  --vscode-activityBarTop-activeBorder: #e7e7e7;
  --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
  --vscode-activityBarTop-dropBorder: #e7e7e7;
  --vscode-profileBadge-background: #4d4d4d;
  --vscode-profileBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #24292e;
  --vscode-statusBarItem-remoteForeground: #d1d5da;
  --vscode-statusBarItem-remoteHoverForeground: #d1d5da;
  --vscode-statusBarItem-remoteHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-offlineBackground: #6c1717;
  --vscode-statusBarItem-offlineForeground: #d1d5da;
  --vscode-statusBarItem-offlineHoverForeground: #d1d5da;
  --vscode-statusBarItem-offlineHoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-extensionBadge-remoteBackground: #0366d6;
  --vscode-extensionBadge-remoteForeground: #ffffff;
  --vscode-sideBar-background: #1f2428;
  --vscode-sideBar-foreground: #d1d5da;
  --vscode-sideBar-border: #1b1f23;
  --vscode-sideBarTitle-background: #1f2428;
  --vscode-sideBarTitle-foreground: #e1e4e8;
  --vscode-sideBar-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-sideBarSectionHeader-background: #1f2428;
  --vscode-sideBarSectionHeader-foreground: #e1e4e8;
  --vscode-sideBarSectionHeader-border: #1b1f23;
  --vscode-sideBarActivityBarTop-border: #1b1f23;
  --vscode-sideBarStickyScroll-background: #1f2428;
  --vscode-sideBarStickyScroll-shadow: rgba(0, 0, 0, 0.53);
  --vscode-titleBar-activeForeground: #e1e4e8;
  --vscode-titleBar-inactiveForeground: #959da5;
  --vscode-titleBar-activeBackground: #24292e;
  --vscode-titleBar-inactiveBackground: #1f2428;
  --vscode-titleBar-border: #1b1f23;
  --vscode-menubar-selectionForeground: #e1e4e8;
  --vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
  --vscode-commandCenter-foreground: #e1e4e8;
  --vscode-commandCenter-activeForeground: #e1e4e8;
  --vscode-commandCenter-inactiveForeground: #959da5;
  --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
  --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
  --vscode-commandCenter-border: rgba(225, 228, 232, 0.2);
  --vscode-commandCenter-activeBorder: rgba(225, 228, 232, 0.3);
  --vscode-commandCenter-inactiveBorder: rgba(149, 157, 165, 0.25);
  --vscode-notifications-foreground: #e1e4e8;
  --vscode-notifications-background: #2f363d;
  --vscode-notificationLink-foreground: #79b8ff;
  --vscode-notificationCenterHeader-foreground: #959da5;
  --vscode-notificationCenterHeader-background: #24292e;
  --vscode-notifications-border: #1b1f23;
  --vscode-notificationsErrorIcon-foreground: #ea4a5a;
  --vscode-notificationsWarningIcon-foreground: #ffab70;
  --vscode-notificationsInfoIcon-foreground: #79b8ff;
  --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
  --vscode-chat-requestBackground: rgba(36, 41, 46, 0.62);
  --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
  --vscode-chat-slashCommandForeground: #40a6ff;
  --vscode-chat-avatarBackground: #1f1f1f;
  --vscode-chat-avatarForeground: #d1d5da;
  --vscode-simpleFindWidget-sashBorder: #454545;
  --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
  --vscode-commentsView-unresolvedIcon: #005cc5;
  --vscode-editorCommentsWidget-replyInputBackground: #252526;
  --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
  --vscode-editorCommentsWidget-unresolvedBorder: #005cc5;
  --vscode-editorCommentsWidget-rangeBackground: rgba(0, 92, 197, 0.1);
  --vscode-editorCommentsWidget-rangeActiveBackground: rgba(0, 92, 197, 0.1);
  --vscode-editorGutter-commentRangeForeground: #282e34;
  --vscode-editorOverviewRuler-commentForeground: #282e34;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #282e34;
  --vscode-editorGutter-commentGlyphForeground: #e1e4e8;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #e1e4e8;
  --vscode-debugToolBar-background: #2b3036;
  --vscode-debugIcon-startForeground: #89d185;
  --vscode-editor-stackFrameHighlightBackground: rgba(198, 144, 38, 0.14);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(43, 106, 48, 0.2);
  --vscode-inlineChat-foreground: #d1d5da;
  --vscode-inlineChat-background: #1f2428;
  --vscode-inlineChat-border: #454545;
  --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.36);
  --vscode-inlineChatInput-border: #454545;
  --vscode-inlineChatInput-focusBorder: #005cc5;
  --vscode-inlineChatInput-placeholderForeground: #959da5;
  --vscode-inlineChatInput-background: #2f363d;
  --vscode-inlineChatDiff-inserted: rgba(40, 167, 69, 0.09);
  --vscode-editorOverviewRuler-inlineChatInserted: rgba(40, 167, 69, 0.11);
  --vscode-inlineChatDiff-removed: rgba(215, 58, 73, 0.09);
  --vscode-editorOverviewRuler-inlineChatRemoved: rgba(215, 58, 73, 0.11);
  --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
  --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
  --vscode-mergeEditor-changeBase\.background: #4b1818;
  --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
  --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
  --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
  --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
  --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
  --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
  --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
  --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
  --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
  --vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
  --vscode-settings-headerForeground: #e1e4e8;
  --vscode-settings-settingsHeaderHoverForeground: rgba(225, 228, 232, 0.7);
  --vscode-settings-modifiedItemIndicator: #0366d6;
  --vscode-settings-headerBorder: #1b1f23;
  --vscode-settings-sashBorder: #1b1f23;
  --vscode-settings-dropdownBackground: #2f363d;
  --vscode-settings-dropdownForeground: #e1e4e8;
  --vscode-settings-dropdownBorder: #1b1f23;
  --vscode-settings-dropdownListBorder: #454545;
  --vscode-settings-checkboxBackground: #444d56;
  --vscode-settings-checkboxForeground: #e1e4e8;
  --vscode-settings-checkboxBorder: #1b1f23;
  --vscode-settings-textInputBackground: #2f363d;
  --vscode-settings-textInputForeground: #e1e4e8;
  --vscode-settings-textInputBorder: #1b1f23;
  --vscode-settings-numberInputBackground: #2f363d;
  --vscode-settings-numberInputForeground: #e1e4e8;
  --vscode-settings-numberInputBorder: #1b1f23;
  --vscode-settings-focusedRowBackground: rgba(40, 46, 52, 0.6);
  --vscode-settings-rowHoverBackground: rgba(40, 46, 52, 0.3);
  --vscode-settings-focusedRowBorder: #005cc5;
  --vscode-scm-historyGraph\.historyItemGroupLocal: #3794ff;
  --vscode-scm-historyGraph\.historyItemGroupRemote: #b180d7;
  --vscode-scm-historyGraph\.historyItemGroupBase: #d18616;
  --vscode-scm-historyGraph\.historyItemGroupHoverLabelForeground: #dcffe4;
  --vscode-scm-historyGraph\.green: #89d185;
  --vscode-scm-historyGraph\.red: #f97583;
  --vscode-scm-historyGraph\.yellow: #ffea7f;
  --vscode-terminal-foreground: #d1d5da;
  --vscode-terminalCursor-foreground: #79b8ff;
  --vscode-terminalCursor-background: #586069;
  --vscode-terminal-selectionBackground: rgba(51, 146, 255, 0.27);
  --vscode-terminal-inactiveSelectionBackground: rgba(51, 146, 255, 0.13);
  --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
  --vscode-terminalCommandDecoration-successBackground: #1b81a8;
  --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
  --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --vscode-terminal-border: #1b1f23;
  --vscode-terminalOverviewRuler-border: #1b1f23;
  --vscode-terminal-findMatchBackground: rgba(255, 211, 61, 0.27);
  --vscode-terminal-hoverHighlightBackground: rgba(38, 79, 120, 0.13);
  --vscode-terminal-findMatchHighlightBackground: rgba(255, 211, 61, 0.13);
  --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --vscode-terminal-dropBackground: rgba(83, 89, 93, 0.5);
  --vscode-terminal-tab\.activeBorder: #f9826c;
  --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
  --vscode-terminalStickyScrollHover-background: #2a2d2e;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #f97583;
  --vscode-testing-messagePeekBorder: #3794ff;
  --vscode-testing-peekHeaderBackground: rgba(249, 117, 131, 0.1);
  --vscode-testing-messagePeekHeaderBackground: rgba(55, 148, 255, 0.1);
  --vscode-testing-coveredBackground: rgba(40, 167, 69, 0.19);
  --vscode-testing-coveredBorder: rgba(40, 167, 69, 0.14);
  --vscode-testing-coveredGutterBackground: rgba(40, 167, 69, 0.11);
  --vscode-testing-uncoveredBranchBackground: #672f38;
  --vscode-testing-uncoveredBackground: rgba(215, 58, 73, 0.19);
  --vscode-testing-uncoveredBorder: rgba(215, 58, 73, 0.14);
  --vscode-testing-uncoveredGutterBackground: rgba(215, 58, 73, 0.28);
  --vscode-testing-coverCountBadgeBackground: #044289;
  --vscode-testing-coverCountBadgeForeground: #c8e1ff;
  --vscode-testing-message\.error\.decorationForeground: #f97583;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: rgba(225, 228, 232, 0.5);
  --vscode-testing-iconErrored\.retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconFailed\.retired: rgba(241, 76, 76, 0.7);
  --vscode-testing-iconPassed\.retired: rgba(115, 201, 145, 0.7);
  --vscode-testing-iconQueued\.retired: rgba(204, 167, 0, 0.7);
  --vscode-testing-iconUnset\.retired: rgba(132, 132, 132, 0.7);
  --vscode-testing-iconSkipped\.retired: rgba(132, 132, 132, 0.7);
  --vscode-welcomePage-tileBackground: #1f2428;
  --vscode-welcomePage-tileHoverBackground: #252b30;
  --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
  --vscode-welcomePage-progress\.background: #2f363d;
  --vscode-welcomePage-progress\.foreground: #79b8ff;
  --vscode-walkthrough-stepTitle\.foreground: #ffffff;
  --vscode-walkThrough-embeddedEditorBackground: rgba(0, 0, 0, 0.4);
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-statusBar-debuggingBackground: #931c06;
  --vscode-statusBar-debuggingForeground: #ffffff;
  --vscode-statusBar-debuggingBorder: #1b1f23;
  --vscode-commandCenter-debuggingBackground: rgba(147, 28, 6, 0.26);
  --vscode-editorGutter-modifiedBackground: #2188ff;
  --vscode-editorGutter-addedBackground: #28a745;
  --vscode-editorGutter-deletedBackground: #ea4a5a;
  --vscode-minimapGutter-modifiedBackground: #2188ff;
  --vscode-minimapGutter-addedBackground: #28a745;
  --vscode-minimapGutter-deletedBackground: #ea4a5a;
  --vscode-editorOverviewRuler-modifiedForeground: rgba(33, 136, 255, 0.6);
  --vscode-editorOverviewRuler-addedForeground: rgba(40, 167, 69, 0.6);
  --vscode-editorOverviewRuler-deletedForeground: rgba(234, 74, 90, 0.6);
  --vscode-keybindingTable-headerBackground: rgba(209, 213, 218, 0.04);
  --vscode-keybindingTable-rowsBackground: rgba(209, 213, 218, 0.04);
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --vscode-ports-iconRunningProcessForeground: #24292e;
  --vscode-profiles-sashBorder: #1b1f23;
  --vscode-debugTokenExpression-name: #c586c0;
  --vscode-debugTokenExpression-type: #4a90e2;
  --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --vscode-debugTokenExpression-string: #ce9178;
  --vscode-debugTokenExpression-boolean: #4e94ce;
  --vscode-debugTokenExpression-number: #b5cea8;
  --vscode-debugTokenExpression-error: #f48771;
  --vscode-debugView-exceptionLabelForeground: #d1d5da;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #d1d5da;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #3794ff;
  --vscode-debugConsole-warningForeground: #ffea7f;
  --vscode-debugConsole-errorForeground: #f97583;
  --vscode-debugConsole-sourceForeground: #d1d5da;
  --vscode-debugConsoleInputIcon-foreground: #d1d5da;
  --vscode-debugIcon-pauseForeground: #75beff;
  --vscode-debugIcon-stopForeground: #f48771;
  --vscode-debugIcon-disconnectForeground: #f48771;
  --vscode-debugIcon-restartForeground: #89d185;
  --vscode-debugIcon-stepOverForeground: #75beff;
  --vscode-debugIcon-stepIntoForeground: #75beff;
  --vscode-debugIcon-stepOutForeground: #75beff;
  --vscode-debugIcon-continueForeground: #75beff;
  --vscode-debugIcon-stepBackForeground: #75beff;
  --vscode-scm-historyItemAdditionsForeground: #34d058;
  --vscode-scm-historyItemDeletionsForeground: #ea4a5a;
  --vscode-scm-historyItemStatisticsBorder: rgba(209, 213, 218, 0.2);
  --vscode-scm-historyItemSelectedStatisticsBorder: rgba(225, 228, 232, 0.2);
  --vscode-extensionButton-background: #176f2c;
  --vscode-extensionButton-foreground: #dcffe4;
  --vscode-extensionButton-hoverBackground: #22863a;
  --vscode-extensionButton-separator: rgba(220, 255, 228, 0.4);
  --vscode-extensionButton-prominentBackground: #176f2c;
  --vscode-extensionButton-prominentForeground: #dcffe4;
  --vscode-extensionButton-prominentHoverBackground: #22863a;
  --vscode-extensionIcon-starForeground: #ff8e00;
  --vscode-extensionIcon-verifiedForeground: #79b8ff;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-extensionIcon-sponsorForeground: #d758b3;
  --vscode-notebook-cellBorderColor: #282e34;
  --vscode-notebook-focusedEditorBorder: #005cc5;
  --vscode-notebookStatusSuccessIcon-foreground: #89d185;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
  --vscode-notebookStatusErrorIcon-foreground: #f97583;
  --vscode-notebookStatusRunningIcon-foreground: #d1d5da;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBackground: #282e34;
  --vscode-notebook-selectedCellBorder: #282e34;
  --vscode-notebook-focusedCellBorder: #005cc5;
  --vscode-notebook-inactiveFocusedCellBorder: #282e34;
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --vscode-notebook-cellInsertionIndicator: #005cc5;
  --vscode-notebookScrollbarSlider-background: rgba(106, 115, 125, 0.2);
  --vscode-notebookScrollbarSlider-hoverBackground: rgba(106, 115, 125, 0.27);
  --vscode-notebookScrollbarSlider-activeBackground: rgba(106, 115, 125, 0.53);
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-notebook-cellEditorBackground: #1f2428;
  --vscode-notebook-editorBackground: #24292e;
  --vscode-interactive-activeCodeBorder: #007acc;
  --vscode-interactive-inactiveCodeBorder: #282e34;
  --vscode-searchEditor-textInputBorder: #1b1f23;
  --vscode-terminal-ansiBlack: #586069;
  --vscode-terminal-ansiRed: #ea4a5a;
  --vscode-terminal-ansiGreen: #34d058;
  --vscode-terminal-ansiYellow: #ffea7f;
  --vscode-terminal-ansiBlue: #2188ff;
  --vscode-terminal-ansiMagenta: #b392f0;
  --vscode-terminal-ansiCyan: #39c5cf;
  --vscode-terminal-ansiWhite: #d1d5da;
  --vscode-terminal-ansiBrightBlack: #959da5;
  --vscode-terminal-ansiBrightRed: #f97583;
  --vscode-terminal-ansiBrightGreen: #85e89d;
  --vscode-terminal-ansiBrightYellow: #ffea7f;
  --vscode-terminal-ansiBrightBlue: #79b8ff;
  --vscode-terminal-ansiBrightMagenta: #b392f0;
  --vscode-terminal-ansiBrightCyan: #56d4dd;
  --vscode-terminal-ansiBrightWhite: #fafbfc;
  --vscode-gitDecoration-addedResourceForeground: #34d058;
  --vscode-gitDecoration-modifiedResourceForeground: #79b8ff;
  --vscode-gitDecoration-deletedResourceForeground: #ea4a5a;
  --vscode-gitDecoration-renamedResourceForeground: #73c991;
  --vscode-gitDecoration-untrackedResourceForeground: #34d058;
  --vscode-gitDecoration-ignoredResourceForeground: #6a737d;
  --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
  --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
  --vscode-gitDecoration-conflictingResourceForeground: #ffab70;
  --vscode-gitDecoration-submoduleResourceForeground: #6a737d;
  --vscode-issues-newIssueDecoration: rgba(255, 255, 255, 0.28);
  --vscode-issues-open: #3fb950;
  --vscode-issues-closed: #cb2431;
  --vscode-pullRequests-merged: #8957e5;
  --vscode-pullRequests-draft: #6e7681;
  --vscode-pullRequests-open: #3fb950;
  --vscode-pullRequests-closed: #cb2431;
  --vscode-pullRequests-notification: #79b8ff;
  --vscode-azureml-error: #f48771;
  --vscode-azureml-job\.running: #3794ff;
  --vscode-azureml-success: #89d185;
  --vscode-azureml-tree: #c5c5c5;
  --vscode-azureml-warning: #ffcc00;
  --vscode-rust_analyzer-syntaxTreeBorder: #ffffff;
}
